@model IEnumerable<RestaurantWebsite.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservations</h2>

<div class="card p-3">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>People</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.CustomerName</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                    <td>@r.ReservationDate.ToString("g")</td>
                    <td>@r.People</td>
                </tr>
            }
        </tbody>
    </table>
</div>